/*
    Attribute Selector
    1. tag[attribute] 
    2. tag[attribute="value"]
    3. tag[attribute^="value"]: chọn thuộc tính có giá trị bắt đầu là value
    4. tag[attribute*="value"]: chọn thuộc tính có giá trị chứa value 
    5. tag[attribute$="value"]: chọn thuộc tính có giá trị kết thúc là value
    6. tag[attribute~="value"]: chọn thuộc tính có giá trị là một từ  

    Lưu ý: class, id hoàn toàn có thể áp dụng như attribute selector
*/

/* ul li a[target] {
  color: red;
}

ul li a[href="https://fullstack.edu.vn"]
{
  color: green;
} */

/* 3. tag[attribute^="value"]: chọn thuộc tính có giá trị bắt đầu là value */
/* ul li a[href^="https://fullstack.edu.vn"]
{
  color: red;
} */

/*  4. tag[attribute*="value"]: chọn thuộc tính có giá trị chứa value  */
/* 
ul li a[href*="fullstack.edu.vn"] {
  color: red;
} */

/* 5. tag[attribute$="value"]: chọn thuộc tính có giá trị kết thúc là value */
/* ul li a[href$=".vn"] {
  color: red;
} */

/* ul li a[title~="hello"] {
  color: red;
} */

/* .row [class^="col-"] {
  color: red;
} */

/* * {
  color: green;
} */
