* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.loading {
  position: absolute;
  inset: 0;
  width: 100%;
  background-color: #000;
  z-index: 999;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  transition: opacity 0.3s ease;
  font-family: "Courier New", Courier, monospace;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
}
