// Khai báo biến
$primaryColor: #46b20f;
$textColor: #2c2c2c;
$primaryText: "Inter", sans-serif;
$textSize: 1rem;
$f-10: 10px;
$f-20: 20px;
$fw-500: 500;
$headerColumnGap: 50px;
$margin50: 50px;
$headerHeight: 108px;
$headerPadding: 15px;
$white: #fff;
$red: #ff6651;
