/* 
Thay đổi font chữ
font-family: tên font1, tên font2, tên font3, tên font4,....

Font chữ có 2 loại: 
- Font mặc định trên máy tính: 
- Font nạp từ bên ngoài

Lưu ý: Nếu font chữ có khoảng trắng thì thêm dấu nháy ("")

sans-serif : Họ font không chân
serif: Họ font có chân
monospace: Họ font mono 
*/
/* Cú pháp import font */
@import url("./fonts.css");
/* body {
  font-family: "SFMonoLigaturized1", monospace;
} */

/* 
Trong 1 font chữa có 2 yếu tố quy định kiểu:
- Độ dày: 100 --> 900 (Bộ số của 100)
- Nghiêng hay không?
*/

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

/* body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-style: italic;
} */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}
