@font-face {
  font-family: "SFMonoLigaturized";
  src: url("../fonts/SFMonoLigaturized-Regular.woff2");
}
@font-face {
  font-family: "OpenSans-VariableFont";
  src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf");
}
